---
import '@fontsource/inter';
import Navigation from '../components/nav.astro'

import google from '../assets/logos/google.jpg'
import facebook from '../assets/logos/facebook.jpg'
import coursera from '../assets/logos/coursera.jpg'
import linkedin from '../assets/logos/linkedin.jpg'
import github from '../assets/logos/github.jpg'

import hero from '../assets/hero.png'
---
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/svg+xml" href="/favicon.png">
		<meta name="viewport" content="width=device-width">
		<meta name="generator" content={Astro.generator}>
		<title>Samuel Francis | Portfolio</title>
	</head>
  <body>
<div id="hero">
<div class="left unselectable">
  <p>&nbsp;&nbsp;Hello, I like to</p>
  <p>
    <span class="typer" id="main" data-words="DEVELOP, STRATEGIZE, DESIGN, IDEATE" data-delay="100" data-deleteDelay="1000" data-colors="#7F93FF,#9ACD32,#BA55D3, #FF6347"></span>
    <span class="cursor" data-owner="main" data-cursor-display="_"></span>
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
  </p>
  <p>&nbsp;&nbsp;&nbsp; For The Web!</p>
  <div class="socials">
    &nbsp; &nbsp; &nbsp;&nbsp;
    <a href="https://github.com/sicnarfleumas" target="_blank">
      <img src={github} alt="Github Logo" height="30" width="auto"></a> 
    <a href="https://www.linkedin.com/in/sicnarfleumas/" target="_blank">
      <img src={linkedin} alt="LinkedIn Logo" height="30" width="auto"></a>
  </div>
</div>
<div class="right">
  <img src={hero} alt="Samuel Francis" width="220px" height="auto">
</div>
</div>

  </body>

  <style>
    @font-face
    {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 100 900;
      font-display: optional;
      src: url(https://rsms.me/inter/font-files/Inter-roman.var.woff2) format('ttf');
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "Inter", Arial, Helvetica, sans-serif;
    }
  
    #hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 2rem;
    }
  
    #hero p {
      font-size: 2rem ;
      font-weight: 900 !important;
      line-height: .75rem;
    }
  
    .cursor {
      color: transparent;
    }
  
    @media screen and (min-width: 768px) {
      #hero {
        flex-direction: row;
      }
    }

  .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  </style>
  