---

---

<nav>
  <div class="top">
    <a class="spl" href="#">Samuel Francis</a>
  </div>
  <div class="bottom">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    flex-direction: row;

    padding-left:5rem;
    padding-right:5rem;
    padding-top:1rem;

    height: 10vh;
  }
.top {
  flex: 1;
  } 

  .spl {
    color: #8094FF
  }

  a {
    text-decoration: none;
    margin-left: 1rem;
    color: black;
  }
</style>
