---

---

<nav>
  <div class="left">
    <a class="spl" href="#">Samuel Francis</a>
  </div>
  <div class="right">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .spl {
    color: #8094FF
  }

  .left {
    flex: 1;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
  a {
    text-decoration: none;
    margin-left: 1rem;
    color: black;
  }
</style>
