---
import '../styles/global.css';
---
<nav>
  <div class="logo">
    <a href="/">
      <img src="/astro/public/logo.svg" alt="samuefrancis.me website logo">
      </a>

  </div>
  <ul class="nav-links">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
