---
---
<div class="nav-links">
    <a href="/" id="right">samuelfrancis.me</a>
    <a href="/about/">about</a>
    <a href="/work/">work</a>
    <a href="/resume/">resume</a>
    <a href="/contact/">contact</a>
  </div>

  