---
import '../styles/stylecomp.css'
---
<div class="nav-links">
    <a href="../pages/index.astro">Home</a>
    <a href="../pages/about.astro">About</a>
    <a href="../pages/work.astro">Work</a>
    <a href="../pages/resume.astro">Resume</a>
    <a href="../pages/contact.astro">Contact</a>
  </div>