---
import '../styles/stylecomp.css'
---
<div class="nav-links">
    <a href="../pages/index.astro" id="right">samuelfrancis.me</a>
    <a href="../pages/about.astro">about</a>
    <a href="../pages/work.astro">work</a>
    <a href="../pages/resume.astro">resume</a>
    <a href="../pages/contact.astro">contact</a>
  </div>